name: Flutter Web CI/CD

on:
  push:
    branches: [ lab_8 ]
  pull_request:
    branches: [ ]

jobs:
  build:
    name: Build, Analyze, Test, and Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.1'
        channel: 'stable'

    - name: Get Dependencies
      run: flutter pub get

    - name: Analyze Code
      run: flutter analyze

    - name: Run Tests
      run: flutter test

    - name: Build Web App
      run: flutter build web --release

    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/lab_8' && github.event_name == 'push'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: build/web
        keep_files: true
